@import "./global-helpers/variables.scss";
@import "./orsted_com/base/color";
@import "./global-helpers/mixins.scss";
$max-width: map-get($grid-breakpoints, max);
// .section-with-counter,
// .section-with-counter .row-narrow {
//     max-width: 1300px !important;
// }
.animated-counter-parent,
.animated-letter-parent {
    justify-content: center;
}

.animated-counter,
.animated-letter {
    width: 100%;
    text-align: center;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    // padding: 30px 30px 50px;
    padding: 30px 10px 50px;
    @include media(null, map-get($grid-breakpoints, lg)) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .numberContainer,
    .unitBig,
    .unitSmall {
        flex: 2 100%;
    }
    .unitPre,
    .unitPost,
    .number {
        flex: none;
        display: inline-block;
    }
    .unitPre,
    .unitPost,
    .number,
    .unitBig {
        font-family: $fontBold;
        transition: font-size .5s;
        // font-size: 60px;
        font-size: 80px;
        @include media(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, lg)) {
            // font-size: 80px;
            font-size: 110px;
        }
        @include media(map-get($grid-breakpoints, lg), null) {
            // font-size: 100px;
            font-size: 150px;
        }
    }
    .hide {
        font-family: $fontBold;
        font-size: 40px;
    }
    .number,
    .hide {
        // Make sure that numbers keep same width
        -moz-font-feature-settings: "tnum" 1;
        -ms-font-feature-settings: "tnum" 1;
        -o-font-feature-settings: "tnum" 1;
        -webkit-font-feature-settings: "tnum" 1;
        font-feature-settings: "tnum" 1;
    }
    .unitPre,
    .unitPost{
        font-size: calc(80px * 0.5);
        // font-size: calc(60px * 0.8);
        @include media(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, lg)) {
            // font-size: calc(80px * 0.8);
            font-size: calc(110px * 0.5);
        }
        @include media(map-get($grid-breakpoints, lg), null) {
            // font-size: calc(100px * 0.8);
            font-size: calc(150px * 0.5);
        }
    }
    .unitBig {
        font-size: calc(80px * 0.65);
        // font-size: calc(60px * 0.8);
        @include media(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, lg)) {
            // font-size: calc(80px * 0.8);
            font-size: calc(110px * 0.65);
        }
        @include media(map-get($grid-breakpoints, lg), null) {
            // font-size: calc(100px * 0.8);
            font-size: calc(150px * 0.65);
        }
    }
    .unitSmall {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    // colors
    &.counter-black {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-black;
        }
    }
    &.counter-grey {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-cold-grey-100;
        }
    }
    &.counter-white {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-white;
        }
    }
    &.counter-blue {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-blue;
        }
    }
    &.counter-green {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-aqua;
        }
    }
    &.counter-yellow {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-yellow;
        }
    }
    &.counter-purple {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-aubergine;
        }
    }
    &.counter-red {
        .unitPre,
        .unitPost,
        .number,
        .unitBig,
        .hide {
            color: $color-red;
        }
    }
    &.counter-unit-black {
        .unitSmall {
            color: $color-black;
        }
    }
    &.counter-unit-grey {
        .unitSmall {
            color: $color-cold-grey-100;
        }
    }
    &.counter-unit-white {
        .unitSmall {
            color: $color-white;
        }
    }
    &.counter-unit-blue {
        .unitSmall {
            color: $color-blue;
        }
    }
    &.counter-unit-green {
        .unitSmall {
            color: $color-aqua;
        }
    }
    &.counter-unit-yellow {
        .unitSmall {
            color: $color-yellow;
        }
    }
    &.counter-unit-purple {
        .unitSmall {
            color: $color-aubergine;
        }
    }
    &.counter-unit-red {
        .unitSmall {
            color: $color-red;
        }
    }
}
