@import "./global-helpers/variables.scss";
@import "./orsted_com/base/color";
@import "./global-helpers/mixins.scss";


$spaceAboveChart: 30px;
.graph-custom {
    /* background-color: #EEEEEE; */
    @include media(1074px, null) {
        margin: auto;
        // width: 1024px;
        width: 100%;
    }
    h4,
    .graph-content-custom,
    ul.graph-tabs-custom {
        padding-left: 0;
        padding-right: 0;
        @include media(null, 1074px) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    h4 {
        font-family: $fontBold;
        font-weight: normal;
        margin-bottom: 15px;
    }
    ul.graph-tabs-custom {
        white-space: nowrap;
        padding-top: 0;
        padding-bottom: 0;
        @include media(null, 1074px) {
            overflow-x: hidden;
        }
        li.graph-tabs-tab-custom {
            box-sizing: border-box;
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            list-style: none;
            display: inline-block;
            cursor: pointer;
            margin-right: 25px;
            &.is-open {
                color: $color-blue;
                font-family: $fontBold;
                font-weight: normal;
                &::after {
                    width: 100%;
                    opacity: 1;
                    background-color: $color-blue !important;
                }
            }
            &::after {
                content: '';
                margin: auto;
                margin-top: 10px;
                display: block;
                width: 0;
                opacity: 0;
                height: 2px;
                background-color: $color-text;
                transition: width .3s, background-color .3s, opacity .3s;
            }
            &:hover {
                color: $color-blue;
                &::after {
                    width: 100%;
                    opacity: 1;
                    background-color: $color-blue;
                }
            }
        }
    }
    .graph-content-custom {
        // display: flex;
        // flex-direction: row;
        // width: 100%;
        // overflow: hidden;
        .graph-content-tab-custom {
            display: none;
            // flex: 0 0 100%;
            // opacity: 0;
            // transition: opacity 1.0s;
            &:only-child {
            }
            &.is-open {
                display: block;
                overflow: visible;
                // opacity: 1;
            }
        }
    }
}

.legend-pos-left-top {
    flex-direction: initial !important;
    .legend-list {
        padding-left: 50px;
        @include media(map-get($grid-breakpoints, md), 1074px) {
            padding-left: 22px;
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            padding-left: 0px;
        }
    }
}

.doughnut-counter {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    .number {
        font-size: 60px;
        @include media(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, lg)) {
            font-size: 80px;
        }
        @include media(map-get($grid-breakpoints, lg), null) {
            font-size: 100px;
        }
    }
    .unitPre,
    .unitPost{
        font-size: calc(60px * 0.5);
        @include media(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, lg)) {
            font-size: calc(80px * 0.5);
        }
        @include media(map-get($grid-breakpoints, lg), null) {
            font-size: calc(100px * 0.5);
        }
    }
}

.chart-root {
    position: relative;
    // TODO: MOVE THIS SOMEWHERE ELSE - IT RUINS SOME OF THE GRAPHS
    // padding-top: $spaceAboveChart; // to make room for the tooltip bubble
    &.doughnut,
    &.pie {
        display: flex;
        &.legend-pos-bottom {
            flex-direction: column;
            align-items: center;
        }
        &.legend-pos-right {
            justify-content: center;
            @include media(null, 500px) {
                flex-direction: column;
                align-items: center;
            }
        }
        &.legend-list-pos-right {
            justify-content: center;
            @include media(null, map-get($grid-breakpoints, md)) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .chart-main {
        $chart-size-big: 490px;
        $chart-size-small: 350px;
        position: relative;
        &.customLinePercentage {
            height: $chart-size-big;
            padding-left: 30px;
            padding-right: 30px;
            @include media(null, map-get($grid-breakpoints, lg)) {
                padding-left: 0px;
                padding-right: 0px;
            }
            @include media(null, map-get($grid-breakpoints, md)) {
                height: $chart-size-small;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        &.customLine,
        &.customBarCounters,
        &.customBarPercentage,
        &.customBarComparison,
        &.customBarGap,
        &.customBar {
            height: $chart-size-big;
            @include media(null, map-get($grid-breakpoints, md)) {
                height: $chart-size-small;
            }
            padding-left: 50px;
            @include media(map-get($grid-breakpoints, md), 1074px) {
                padding-left: 22px;
            }
            @include media(null, map-get($grid-breakpoints, md)) {
                padding-left: 0px;
            }
        }
        &.doughnut,
        &.pie {
            width: 100%;
            max-width: 50%;
            // max-width: $chart-size-big;
            min-height: $chart-size-big * 4/5;
            @include media(null, map-get($grid-breakpoints, md)) {
                min-height: $chart-size-small;
                max-width: $chart-size-small;
            }
        }
    }
    .chart-y-axis-label {
        color: #1A173B;
        font-size: 15px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 50px;
        width: 50px;
        &>* {
            white-space: nowrap;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
        @include media(map-get($grid-breakpoints, md), 1074px) {
            width: 22px;
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            display: none
        }
    }
    .chart-legend {
        color: #1A173B;
        font-size: 15px;
        // position: absolute;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // min-height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        line-height: 1.2;
        &>* {
            white-space: nowrap;
        }
        &.customLine,
        &.customLinePercentage,
        &.customBarCounters,
        &.customBarPercentage,
        &.customBarGap,
        &.customBarComparison,
        &.customBar {
            padding-left: 50px;
            padding-top: 20px;
            &>* {
                margin-right: 20px;
                align-self: flex-end;
            }
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            line-height: 1.4;
        }
        @include media(null, 500px) {
            line-height: 1.6;
            padding: 0 !important;
        }
        &.row {
            flex-direction: row;
            .legend-item {
                padding-left: 10px;
                padding-right: 10px;
            }
            @include media(null, 500px) {
                padding: 0;
                // flex-direction: column;
                .legend-item {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        &.column { 
            flex-direction: column;
        }
        &.doughnut,
        &.pie {
            &>* {
                display: block;
            }
            &.legend-pos-bottom {
                padding-top: 20px;
            }
            &.legend-pos-right {
                max-width: 50%;
                padding-left: 20px;
                @include media(null, 500px) {
                    max-width: 90%;
                }
                @include media(null, map-get($grid-breakpoints, md)) {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-left: 0;
                    &>* {
                        white-space: normal;
                    }
                }
                @include media(null, 500px) {
                    position: relative;
                    top: 0;
                    transform: translateY(0%);
                }
            }
            &.legend-list-pos-right {
                max-width: 50%;
                padding-right: 20px;
                padding-left: 20px;
                @include media(null, map-get($grid-breakpoints, md)) {
                    max-width: 90%;
                    position: relative;
                    top: 0;
                    transform: translateY(0%);
                }
            }
        }
        .chart-title {
            font-family: $fontBold;
            margin-top: 20px;
            margin-bottom: 10px;
            &.hide {
                display: none;
            }
        }
        .legend-list {
            display: flex;
            flex-wrap: wrap;
            align-self: auto;
            // flex-direction: row;
            @include media(null, 500px) {
                padding: 0;
            }
            @include media(null, 500px) {
                margin-right: 0 !important;
            }
            .legend-container {
                padding-right: 20px;
            }
            .legend-dot {
                align-self: flex-start;
                margin-top: 4px;
                margin-right: 15px;
                display: inline-flex;
                @include media(null, 500px) {
                    margin-right: 6px;
                }
            }
            .legend-list-container {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            .legend-list-item:first-child {
                font-family: $fontBold;
            }
            .legend-list-item {
                display: flex;
                flex-direction: row;
                font-family: $fontRegular;
                padding-bottom: 4px;
                .legend-list-label {
                    flex: 1;
                }
            }
        }
        .legend-container {
            display: inline-flex;
            justify-content: flex-start;
            padding-bottom: 20px;
            .legend-dot,
            .legend-line {
                margin-top: 4px;
            }
            @include media(null, 500px) {
                font-size: 14px;
            }
        }
        .legend-item {
            display: flex;
            align-items: center;
        }
        .legend-icon {
            position: absolute;
            width: 34px;
            height: 34px;
            transform: translateX(-100%);
        }
        .legend-dot {
            position: relative;
            height: 12px;
            width: 12px;
            border-radius: 999px;
            display: inline-block;
            margin-right: 5px;
        }
        .legend-line {
            position: relative;
            height: 4px;
            width: 25px;
            border-radius: 999px;
            display: inline-block;
            margin-right: 6px;
        }
        .legend-value {
            font-family: $fontBold;
            min-width: 50px;
            text-align: right;
            margin-right: 10px;
            &.hide {
                display: none;
            }
        }
    }
    .list {
        width: 220px;
        display: block;
        flex: none;
        .chart-title {
            white-space: normal;
            margin-bottom: 15px;
        }
    }
    .chart-tooltip {
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #DDDDDD;
        border-radius: 2px;
        padding: 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000;
        pointer-events: none;
        opacity: 0;
        p {
            margin: 0;
            &.value {
                span:last-child {
                    margin-left: 10px;
                    float: right;
                }
            }
        }
        span.dot {
            height: 8px;
            width: 8px;
            border-radius: 999px;
            display: inline-block;
            margin-right: 5px;
        }
        &::after {
            content: " ";
            left: 50%;
            bottom: 0;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            color: red;
            font-weight: bold;
            position: absolute;
            transform: translate(-50%, 50%) rotate(45deg);
            border-bottom: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
        }
        &.left {
            &::after {
                content: " ";
                left: 0;
                bottom: 50%;
                transform: translate(-50%, 50%) rotate(135deg);
                border-bottom: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
            }
        }
        &.right {
            &::after {
                content: " ";
                left: 100%;
                bottom: 50%;
                transform: translate(-50%, 50%) rotate(-45deg);
                border-bottom: 1px solid #DDDDDD;
                border-right: 1px solid #DDDDDD;
            }
        }
    }
    .chart-hero-label {
        position: absolute;
        font-family: $fontBold;
        font-size: 17px;
        font-weight: 800;
        color: white;
        background-color: $color-blue;
        // left: 0px;
        right: 0px;
        top: 0px;
        padding: 15px 30px 15px 1px;
        border-radius: 0 999px 999px 0;
        z-index: 100;
        line-height: 23px;
        white-space: nowrap;
        display: none;
        @include media(null, map-get($grid-breakpoints, md)) {
            padding: 10px 20px 10px 1px;
            font-size: 15px;
            line-height: 20px;
        }
        @include media(null, map-get($grid-breakpoints, sm)) {
            padding: 8px 18px 8px 1px;
            font-size: 13px;
            line-height: 19px;
            right: 0 !important;
            top: 0 !important;
            max-width: 80%;
            .bubble {
                transform: scaleX(0.8);
                transform-origin: right top;
            }
        }
        // for multipline the bubble width & left must be set after we know the height
        .bubble {
            position: absolute;
            top: 0;
            left: 0px;
            width: 0px;
            height: 125%;
            border-radius: 999px 0 0 999px;
            background-color: inherit;
            z-index: -1;
        }
        &.show {
            display: block;
            animation-name: chart-hero-label-show;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-duration: 0.3s;
        }
    }
}

.customLinePercentage-box {
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    @include media(null, map-get($grid-breakpoints, lg)) {
        margin-left: 0px;
    }
    @include media(null, map-get($grid-breakpoints, md)) {
        margin-left: 0px;
    }
    @at-root .counter {
        position: absolute;
        top: 0;
        left: 20px;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        text-align: left;
        transform: translateY(-50%);
        .animated-counter {
            padding-left: 0px !important;
        }
        .label {
            font-family: OrstedSansRegular, sans!important;
            line-height: 1.2;
            font-size: 1em;
            align-self: center;
        }
        .animated-counter {
            padding-top: 0;
            padding-bottom: 0px;
            .number {
                font-size: 43px;
            }
            .unitPre, .unitPost {
                font-size: 28px;
            }
        }
    }
    .border-line {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 4px #000 dotted;
        border-bottom: 0px;
        border-left: 0px;
        .percentage {
            position: absolute;
            left: 100%;
            top: 50%;
            padding: 8px;
            background-color: #FFF;
            transform: translate(-50%, -50%);
            font-family: $fontBold;
            font-weight: normal;
            font-size: 16px;
        }
        .first-dot {
            position: absolute;
            width: 20px;
            height: 20px;
            top: -12px;
            left: -8px;
            border-radius: 999px;
            background-color: #FFF;
            border: 4px #000 solid;
        }
        .last-dot {
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: -8px;
            right: -12px;
            border-radius: 20px;
            background-color: #FFF;
            border: 4px #000 solid;
        }
    }
}

.customLinePercentage-header {
    display: inline-block;
    padding-left: 30px;
    @include media(null, map-get($grid-breakpoints, lg)) {
        padding-left: 0px;
    }
    @include media(null, map-get($grid-breakpoints, md)) {
        padding-left: 0px;
    }
    h4 {
        padding-left: 0px !important;
        margin-bottom: 0px !important;
    }
}

.customBarGap {
    user-select: none;
    margin-top: 78px;
    .chart-main {
        padding-left: 0px !important;
    }
    .lastConnector::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px #325564 solid;
        border-right: 2px #325564 solid;
        top: -6px;
        right: 0px;
        transform: rotate(45deg);
    }
    .lastConnector {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-left: -1px;
        border-top: 2px #325564 dotted;
        border-left: 2px #325564 dotted;
        z-index: 1;
        .gap {
            position: absolute;
            display: inline-block;
            color: #325564;
            padding: 8px;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFF;
            z-index: 2;
        }
    }
    .firstConnector {
        position: absolute;
        width: 10px;
        height: 2px;
        margin-top: -1px;
        border-top: 2px #325564 dotted;
        z-index: 1;
    }
    .bottomLine {
        position: absolute;
        left: 0;
        margin-top: -2px;
        width: 100%;
        height: 2px;
        border-top: 2px #325564 dotted;
        z-index: 1;
    }
    .customBar-counters {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .label {
            position: absolute;
            display: inline-block;
            color: #FFFFFF;
            padding: 0;
            padding-top: 10px;
            transform: translateX(-50%);
        }
    }
    .number {
        font-family: $fontBold;
        font-weight: normal;
        text-align: center;
        font-size: 19px;
        @include media(null, map-get($grid-breakpoints, md)) {
            font-size: 16px;
        }
    }
    .unit {
        text-align: center;
        font-size: 16px;
        @include media(null, map-get($grid-breakpoints, md)) {
            font-size: 13px;
        }
    }
}

.customLine {
    .customLine-header {
        margin-left: 50px;
        @include media(null, 1074px) {
            margin-left: 25px;
        }
        @include media(null, 768px) {
            margin-left: 0px;
        }
        color:#325564;
        font-size:14px;
    }
    .customLine-counters {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .customLine-icon {
            position: absolute;
            margin-left: 50px;
            @include media(null, 1074px) {
                margin-left: 25px;
            }
            @include media(null, 768px) {
                margin-left: 0px;
            }
        }
        .icon-orsted-logo {
            width: 70px;
            height: 20px;
            margin-top: -20px;
            transform: translateY(-100%) translateX(-50%);
            @include media(null, map-get($grid-breakpoints, md)) {
                transform: translateY(-100%) translateX(-25%);
            }
            @include media(null, map-get($grid-breakpoints, sm)) {
                transform: translateY(-100%) translateX(0%);
            }
        }
    }
}

.customBarCounters,
.customBarPercentage {
    .customBar-counters {
        overflow: hidden;
    }
}

.customBarCounters,
.customBarPercentage,
.customBarComparison {
    user-select: none;
    .chart-main {
        padding-left: 0px !important;
        .customBar-counters {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            .padding-top-extra-small {
                padding-top: 15px !important;
                // padding-top: 5px!important;
                @include media(null, map-get($grid-breakpoints, md)) {
                    padding-top: 5px!important;
                }
            }
            .padding-top-small {
                padding-top: 30px !important;
                // padding-top: 5px!important;
                @include media(null, map-get($grid-breakpoints, md)) {
                    padding-top: 15px!important;
                    // padding-top: 5px!important;
                }
            }
            .padding-top-large {
                padding-top: 50px !important;
                // padding-top: 5px !important;
                @include media(null, map-get($grid-breakpoints, md)) {
                    padding-top: 25px !important;
                    // padding-top: 5px !important;
                }
            }
            .animated-counter {
                position: absolute;
                display: inline-block;
                color: #FFFFFF;
                transform: translateX(-50%);
                flex: 1;
                height: fit-content;
                padding: 0;
                padding-top: 5px;
                .number {
                    // font-size: 24px;
                    font-size: 20px;
                    @include media(null, map-get($grid-breakpoints, lg)) {
                        // font-size: 20px;
                        font-size: 16px;
                    }
                    @include media(null, map-get($grid-breakpoints, md)) {
                        // font-size: 18px;
                        font-size: 14px;
                    }
                    @include media(null, map-get($grid-breakpoints, sm)) {
                        // font-size: 14px;
                        font-size: 12px;
                    }
                }
                .unitPre, .unitPost {
                    font-size: 14px !important;
                    @include media(null, map-get($grid-breakpoints, lg)) {
                        font-size: 12px !important;
                    }
                    @include media(null, map-get($grid-breakpoints, md)) {
                        font-size: 11px !important;
                    }
                    @include media(null, map-get($grid-breakpoints, sm)) {
                        font-size: 9px !important;
                    }
                }
                &.height-tight {
                    padding-top: 0px !important;
                    margin-top: -4px;
                }
                &.height-semi-tight {
                    padding-top: 3px !important;
                    margin-top: -4px;
                }
            }
        }
    }
}

.customBarComparison-legend,
.customLine-legend {
    padding-left: 0px !important;
}

.customBarComparison-legend {
    padding-bottom: 30px;
}

.customBarComparison {
    user-select: none;
    .chart-main {
        padding-left: 0px !important;
    }
    .bottomLine {
        position: absolute;
        left: 0;
        margin-top: -2px;
        width: 100%;
        height: 2px;
        border-top: 2px #325564 dotted;
        z-index: 1;
    }
    .firstConnector::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px #325564 solid;
        border-right: 2px #325564 solid;
        top: -6px;
        right: 0px;
        transform: rotate(45deg);
    }
    .gap {
        position: absolute;
        display: inline-block;
        color: #5A7A89;
        font-family: OrstedSansBold, sans!important;
        font-weight: normal;
        text-align: center;
        padding: 8px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 16px;
        @include media(null, map-get($grid-breakpoints, lg)) {
            font-size: 14px;
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            font-size: 14px;
            padding: 6px;
        }
        @include media(null, map-get($grid-breakpoints, sm)) {
            font-size: 12px;
            padding: 4px;
        }
    }
    .firstConnector,
    .secondConnector {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: -1px;
        border-top: 2px #325564 dotted;
        border-left: 2px #325564 dotted;
        z-index: 1;
    }
    .lastConnector::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px #325564 solid;
        border-right: 2px #325564 solid;
        bottom: 2px;
        right: -6px;
        transform: rotate(45deg);
    }
    .lastConnector {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: -1px;
        border-top: 2px #325564 dotted;
        border-right: 2px #325564 dotted;
        z-index: 1;
    }
    .label {
        position: absolute;
        color: #FFF;
        font-family: $fontBold!important;
        font-weight: normal;
        text-align: center;
        font-size: 19px;
        z-index: 1;
        padding-top: 10px;
        transform: translateX(-50%);
        @include media(null, map-get($grid-breakpoints, lg)) {
            font-size: 16px;
        }
        @include media(null, map-get($grid-breakpoints, md)) {
            font-size: 16px;
            color: #FFFFFF;
        }
        @include media(null, map-get($grid-breakpoints, sm)) {
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}

.graph-cols {
    width: 100%;
}

.graph-col-1 {
    float: left;
    width: 0%;
    min-height: 1px;
    @include media(1074px, null) {
        width: 10%;
    }
}

.graph-col-3 {
    float: left;
    width: 100%;
    min-height: 1px;
    @include media(1074px, null) {
        width: 26.5%;
    }
}

.graph-col-2 {
    float: left;
    width: 0%;
    min-height: 1px;
    @include media(768px, null) {
        width: 20%;
    }
}

.graph-col-8 {
    float: left;
    width: 100%;
    min-height: 1px;
    @include media(768px, null) {
        width: 60%;
    }
}

.graph-col-4 {
    float: left;
    width: 100%;
    min-height: 1px;
    @include media(1074px, null) {
        width: 33.3%;
    }
}

@keyframes chart-hero-label-show {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
