.col-in-viewport-inited {
    transition-duration: 0.35s !important;
    transition-delay: 0s !important;

    &.no-col-in-viewport-animation {
        transition-duration: 0s !important;
        transition-delay: 0s !important;
        opacity: 1;
    }
}
