@import "./responsive.scss";

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin media($min: null, $max: null) {
    @if($min){
      @if($max){
        @media only screen and (min-width: #{$min}) and (max-width: #{$max}){
          @content;
        }
      }@else{
        @media only screen and (min-width: #{$min}){
          @content;
        }
      }
       
    }@else{
      @if($max){
        @media only screen and (max-width: #{$max}){
          @content;
        }
      }
    }
}

@mixin max-width() {
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Ørsted has these somewhere */
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
  
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}