/*
 * Sass variables used on Orsted.com that we also need.
 */

 /* Bootstrap breakpoints */
 $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  mdLessThan: 767px,
  lg: 992px,
  xl: 1024px,
  xxl: 1200px,
  max: 1440px,
  iphonePlus: 414px,
  iphone: 375px,
  iphoneLessThan: 374px,
  iphone5: 320px,
);

/* Easings */
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
$easeInQuad: cubic-bezier(0.11, 0, 0.5, 0);
$easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

/* Font */
$fontLight: OrstedSansLight, sans !important;
$fontRegular: OrstedSansRegular, sans !important;
$fontBold: OrstedSansBold, sans !important;