// FOR DEVELOPMENT PURPOSES
.dev-component-separators {
    padding: 20px;
    background-color: black;
    color: white;
    margin: 50px 0;
}

// mobile-only and desktop-only styling - classes are set by js
// section {
//     @include media(null, map-get($grid-breakpoints, md)) {
//         &.version-desktop {
//             display: none;
//         }
//     }
//     @include media(map-get($grid-breakpoints, md) + 1, null) {
//         &.version-mobile {
//             display: none;
//         }
//     }
// }
