
// colors from Ørsted Brand Guide
$color-cold-grey-100: #3B4956;
$color-cold-grey-75: #6C7680;
$color-cold-grey-50: #99A4AE;
$color-cold-grey-25: #CED1D5;
$color-cold-grey-10: #EBEDEE;
$color-cold-grey-5: #F5F6F7;

$color-warm-grey-100: #B7ADA5;
$color-warm-grey-75: #C9C1BB;
$color-warm-grey-50: #D8D1CA;
$color-warm-grey-25: #EDEAE8;
$color-warm-grey-10: #F8F7F6;

$color-blue: #4099DA;
$color-aubergine: #644C76;
$color-aqua: #8ECDC8;
$color-red: #E85757;
$color-yellow: #FDD779;

// other colors
$color-sprite: #009775;
$color-white: #ffffff;
$color-black: #000000;
$color-text: $color-cold-grey-100;
$color-transparent: rgba(0, 0, 0, 0);


// TODO: Replace these with some of the colors from the design system!
// $color-cold-grey-50-75: tint($color-cold-grey-50, 75);
// $color-cold-grey-50-50: tint($color-cold-grey-50, 50);
// $color-cold-grey-50-25: tint($color-cold-grey-50, 25);

// $color-warm-grey-50-75: tint($color-warm-grey-50, 75);
// $color-warm-grey-25: tint($color-warm-grey-50, 50);
// $color-warm-grey-50-25: tint($color-warm-grey-50, 25);

$color-border-grey: rgba(#c6cbd0, 0.5);

$color-input-border: #b2b2b2;
$color-input-border-disabled: rgba($color-input-border, 0.5);
$color-input-border-error: #4c4c4c;
$color-input-required: $color-red;
$color-input-success: $color-aqua;
$color-input-error: $color-red;
$color-input-help: $color-cold-grey-100;
$color-input-border-focus: $color-cold-grey-50;

//RADIUS NEW (from GW):
$color-radius-blue: #384967;
$color-radius-turquoise: #619cb8;
$color-radius-light-blue: #b5d1dd;
$color-radius-yellow: #f6b114;
$color-radius-darkgrey: #373737;

// Font-colors
.text-red {
  color: $color-red;
}
.text-blue {
  color: $color-blue;
}
.text-aubergine {
  color: $color-aubergine;
}
.text-dark-blue {
  color: $color-cold-grey-100;
}
.text-white {
  color: $color-white;
}


// MOLAMIL CUSTOM COLORS
// childrens book
$color-blue-sky: rgb(46,63,112);
