
@import '../shared/styles/orsted_com/base/color';
@import '../shared/styles/global-helpers/variables.scss';
@import '../shared/styles/global-helpers/faster-animations';
@import '../shared/styles/global-helpers/mixins.scss';


// @import '../shared/styles/graph.scss';

/* DOM */
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*
div {
    border: 1px solid red;
    overflow: hidden;
}
*/

